/* styles  */
body {
  background-image: url(./2ndconcert.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: burlywood;
  font-family: sans-serif;
  font-size: 2em;
  text-align: justify;
}

#title {
  text-align: center;
  text-transform: capitalize;
  background: rgb(22, 21, 21);
  color: rgb(202, 17, 17);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(20, 5, 5);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(126, 230, 178);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:link {
  background-color: rgb(20, 5, 5);
}

a:visited {
  color: khaki;
}

a:hover {
  background-color: #d41616;
}

a:active {
  background-color: indigo;
}

.header {
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background: rgb(189, 148, 148);
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
}

.column-middle {
  width: 60%;
  float: left;
}

.column-right {
  width: 35%;
  float: right;
}
/* 
@media screen and (max-width: 600px) {
  .column-side,
  .column-middle {
    width: 100%;
  } */

.form-contact {
  display: block;
}

.subtitle {
  background-color: rgb(70, 65, 65);
  color: #d41616;
}

#upcoming {
  background-color: rgb(70, 65, 65);
  color: #d41616;
}

.footer {
  text-align: center;
  background-color: rgb(51, 40, 40);
  clear: both;
}

.contact-middle {
  width: auto;
}
